<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73876933083-tam1om24c9pubieto2t0tdl6svoah8fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73876933083-tam1om24c9pubieto2t0tdl6svoah8fa</string>
	<key>API_KEY</key>
	<string>AIzaSyCC5BPmWGJm1DfV2L8ygMsZFZNEHgC4R9o</string>
	<key>GCM_SENDER_ID</key>
	<string>73876933083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catatan</string>
	<key>PROJECT_ID</key>
	<string>catatb-aps</string>
	<key>STORAGE_BUCKET</key>
	<string>catatb-aps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73876933083:ios:ad65915d9d54826f4bbffe</string>
</dict>
</plist>